<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to Cuisine</title>
        <link rel="shortcut icon" href="https://web-02.monadoll.tech/static/images/images.jpeg?{{ cache_id }}">
        <link rel="stylesheet" type="text/css" href="https://web-02.monadoll.tech/static/styles/landing_page.css">
    </head>
</body>
    <header class="heading">
        <span>
        <h1 class="red">Welcome</h1>
        <p>&nbsp; &nbsp;</p>
        <h1 class="black">to Cuisine</h1>
        </span>
        <h2>A place for recipes</h2>
        <div class="nav">
            <a href="https://web-02.monadoll.tech">Visit Cuisine Homepage</a>
            <a href="https://web-02.monadoll.tech/login" target="_blank">Visit Cuisine Login</a>
            <a href="https://web-02.monadoll.tech/signup" target="_blank">Visit Cuisine Register</a>
        </div>
            
    </header>
    <div class="content">
        <div class="sec1">
            <div class="left">
                <img src="https://web-02.monadoll.tech/static/images/image1_0.jpg" alt="Cuisine" class="image">
            </div>
            <div class="right">
                <h1>Get the best recipes from around the world</h1>
                <p>Join us and get access to the best recipes <br>from around the world. 
                We have a collection of recipes from different <br>countries and cultures. 
                You can also share your recipes with the world.</p>
        </div>
        <div class="sec3">
            <div class="img3">
                <img src="../static/images/create_recipe.png" alt="Cuisine" class="image">
            </div>
            <div class="right">
                <h1>Create your own recipes</h1>
                <p>Join us and get access to the best recipes <br>from around the world. 
                We have a collection of recipes from different <br>countries and cultures. 
                You can also share your recipes with the world.</p>
            <div>

            </div>
        </div>
    </div>
</body>
</html>
