<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to Cuisine</title>
        <link rel="shortcut icon" href="../static/images/images.jpeg">
        <link rel="stylesheet" type="text/css" href="../static/styles/landing_page.css">
    </head>
</body>
    <header class="heading">
        <span>
        <h1 class="red">Welcome</h1>
        <p>&nbsp; &nbsp;</p>
        <h1 class="black">to Cuisine</h1>
        </span>
    </header>
    <div class="content">
        <div class="sec1">
            <div class="left">
                <img src="../static/images/image1_0.jpg" alt="Cuisine" class="image">
            </div>
            <div class="right">
                <h1>Get the best recipes from around the world</h1>
                <p>Join us and get access to the best recipes <br>from around the world. 
                We have a collection of recipes from different <br>countries and cultures. 
                You can also share your recipes with the world.</p>

            <div class="redirects">
                <a href="http://52.91.120.169/login" class="button" target="_blank">Login</a>
                <a href="http://52.91.120.169/signup " class="button" target="_blank">Register</a>
            </div>
        </div>
        <div class="sec2">
            <div class="img2">
                <img src="../static/images/jonathan-borba-Gkc_xM3VY34-unsplash.jpg" alt="Cuisine" class="image">
            </div>
        </div>
    </div>
</body>
</html>
