<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to Cuisine</title>
        <link rel="shortcut icon" href="../static/images/images.jpeg">
        <link rel="stylesheet" type="text/css" href="../static/styles/landing_page.css">
    </head>

    <body>
        <div class="heading">
            <span><h1 class="red">Welcome</h1><p>&nbsp; &nbsp;</p><h1 class="black">to Cuisine</h1></span>
        </div>
        <div class="content">
            <div class="left">
                <img src="../static/images/image1_0.jpg" alt="Cuisine" class="image">
            </div>
            <div class="right">
                <h1>Get the best recipes from around the world</h1>
                <p>Join us and get access to the best recipes from around the world. We have a collection of recipes from different countries and cultures. You can also share your recipes with the world.</p>
                <a href="/login" class="button">Login</a>
                <a href="/register" class="button">Register</a>
            </div>
        </div>
    </body>
</html>