<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='images/images.jpeg') + '?' + cache_id }}">
    <link rel="stylesheet" type="text/css" href="../static/styles/0-login.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="log">
        <h2>Login to your account</h2>
        <form action="/login" method="post">
            <div class="input-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="input-group checkbox">
                <label for="remember-me"><input type="checkbox" id="remember-me" name="remember-me">Remember me</label>
            </div>
	    {% if invalid %}
	    <div class="error-message">Invalid email or password, Please try again</div>
	    {% endif %}
            <button type="submit">Log In</button>
        </form>
        <p class="signup-link">Don't have an account?  <a href="{{ url_for('signup') }}">Sign up here</a></p>
    </div>
    <script src="../static/scripts/0-login.js"></script>
</body>
</html>
