body {
    font-family: Arial, sans-serif;
    background-image: url("../images/miti-qYreP9QOdrk-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


.log {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 8px;
    height: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffb900;
}

form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


h2 {
    text-align: center;
}


label {
    display: block;
    flex-wrap: wrap-reverse;
}

input[type="email"],
input[type="password"],
#last_name,
#first_name {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: black;
    color: white;
    box-sizing: border-box;
}


.checkbox {
    display: flex;
}

.error-message {
    color: red;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #101820;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    opacity: 0.9;
}

.signup-link {
    text-align: center;
    margin-top: 15px;
}

.signup-link a {
    color: #000;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
    color: white;

}
