* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: rgb(167, 152, 152);
    font-size: 16px;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
} 

header {
    color: rgb(212, 21, 21);
    border-bottom: 1px solid rgb(43, 34, 34);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    padding: 20px;
    margin-bottom: 30px;
    position: -webkit-sticky;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: inherit;
    text-decoration: none;
}

.nav a {
    font-size: 1.2em;
}
header .home {
    font-size: 1.5em;
    font-weight: bold;
}
header a:hover, .save:hover {
    color: #6fffe9;
}

header .nav {
    display: flex;
    justify-content: space-between;
    width: fit-content;
}



.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;

}


.container {
    width: fit-content;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container h2 {
    text-align: center;
}
.recipe {
    display: flex;
    flex-direction: column;
}

.recipe > div {
    margin-bottom: 20px;
    font-size: bold;
    display: flex;
    flex-direction: column;
}

.recipe input, .recipe textarea {
    border-radius: 5px;
    background-color: rgb(165, 164, 163);
    color: rgb(0, 0, 0);
    font-size: 1.1em;
    padding: 7px;
    border-radius: 5px;
}
.title input {
    width: 300px;
    height: 30px;
    color: rgb(8, 6, 6);
}

.title textarea {
    width: 500px;
    height: 100px;
    background-color: rgb(165, 164, 163);
}


.tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid black;
    width: 500px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 3px;
}

.tag {
    display: flex;
    align-items: center;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 2px;
    padding: 5px;
    margin: 10px;
}

.steps {
    width: 55%;
}
.steps h2 {
    margin-bottom: 20px;
}

.ingredient {
    display: flex;
    flex-direction: column;
    font-size: 1.1em;
}

.ingredients .ingredient textarea {
    width: 70%;
    height: auto;
    background-color: rgb(165, 164, 163);
    font-size: 1.1em;
    padding: 5px;
    overflow: hidden;
    transition: height 0.2s ease-out;
}

.ingredient p {
    margin-bottom: 10px;
    color: #045c2b;
}

.instruction {
    display: flex;
    flex-direction: column;
    font-size: 1.1em;
}

.instruction textarea {
    width: 100%;
    height: auto;
    background-color: rgb(165, 164, 163);
    font-size: 1.1em;
    padding: 5px;
    overflow: hidden;
    transition: height 0.2s ease-out;
}
.instruction p {
    margin-bottom: 10px;
    color: #045c2b;
}





.favorite {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.favorite h3 {
    margin: 5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}