* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #B30000;
}

html, body {
    height: 100%;
}
body {
    margin: 0px;
    padding: 0px;
    color: #181818;
    font-size: 16px;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #cccccc;
}



.heading span {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    
}


.heading span h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #181818;
    margin: 0;
    padding: 0;
}

.heading .red {
    color: #B30000;
}

.content {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    justify-content: space-around;
    padding: 30px;
}

.sec1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.content * {
    margin: 5px;
}

.content .left {
    display: flex;
    align-items: flex-end;
    width: fit-content;
}

.content .left img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: auto;
}

.right {
    justify-content: center;
    align-items: center;
}

.right h1 {
    margin-bottom: 50px;
    border-bottom: 1px solid rgba(85, 75, 75, 0.623);
    padding: 50px;
}

.right p {
    font-size: 1.5rem;
    margin: 10px;
    text-align: justify;
}


.redirects {
    display: flex;
    justify-content: space-around;
}

.redirects a {
    line-height: 1.5rem;
    padding: 10px;
    border-radius: 5px;
}

.redirects a:hover {
    background-color: black;
    color: #ccc;
}