body {
    font-family: Arial, sans-serif;
    background-image: url("../images/miti-qYreP9QOdrk-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}


.log {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 8px;
    height: 350px;
    box-shadow: 0 6px 8px rgba(223, 214, 214, 0.774), 0 4px 6px rgba(230, 217, 217, 0.932);
    background-color: #00000017;
    backdrop-filter: blur(10px);
}

form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


h2 {
    text-align: center;
    color: #ccc;
}


label {
    display: block;
    flex-wrap: wrap-reverse;
    color: #ccc;
}

input[type="email"],
input[type="password"],
#last_name,
#first_name {
    width: 100%;
    padding: 10px;
    border: 1px solid #080202;
    border-radius: 5px;
    background-color: rgb(253, 252, 252);
    color: rgb(0, 0, 0);
    box-sizing: border-box;
}


.checkbox {
    display: flex;
}

.error-message {
    color: red;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #101820;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    opacity: 0.9;
}

.signup-link {
    text-align: center;
    margin-top: 15px;
}

.signup-link a {
    color: #c0e073;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
    color: white;

}
