header {
    border-bottom: 2px solid black;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header h1 {
    color: #FF0000;
    font-style: italic;
    margin-right: 40px;
    font-weight: bold;
}

header .fa-bars {
    position: absolute;
    left: 20px;
}

header .bars {
    position: absolute;
    left: 25px;
    top: 50px;
    background-color: #D27D2D;
    height: 270px;
    width: 250px;
    border-radius: 20px;
    display: none; /* Initially hide the element */
    justify-content: center;
    border: 1px solid black;
}

/** this will later be replaced with javascript to respond to user
clicks**/

header:hover .bars {
    display: flex; /* Display the element when hovering over the header */
}



.bars .bar-content {
    position: absolute;
    top: 40px;
    left: 24px;

}

.bar-content ol {
    list-style-type: none;
}

.bar-content li {
    margin: 20px;
    font-weight: bold;
}
