.recipe-creation {
    position: fixed;
    bottom: 30px;
    left: 50px;
    color: black;
    text-align: center;
    border-radius: 2%;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 90%;
    margin: 20px;
    overflow-y: auto;
    max-height: 80%;
    align-items: baseline;
}


#recipeForm  {
    padding: 5px;
    border-radus: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#recipeForm label, #recipeForm button {
    background-color: red;
    color: #ccc;
    margin: 5px;
    border-radius: 5px;
}


#recipeForm button:hover {
    opacity: 0.9;
}
.show {
    display: none;
    border: 1px solid black
}


.recipe-container {
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#recipeForm label, #recipeForm button {
    width: 20%;
    height: 20px;
}

#recipeForm textarea, #recipeForm input {
    background-color: white;
    color: black;
    padding: 5px;
}

div article {
    background-color: black;
    padding: 10px;
    padding-left: 40px;
    border-radius: 15px;
}

.recipe-name *, .recipe-ingredients h3, .recipe-instructions h3 {
    text-align: center;
    color: #cd7f32;
    margin: 20px;
}

.recipe-name h2 {
    text-decoration-line: underline;
}



.recipe-ingredients *, .recipe-instructions * {
    color: #c0c0c0;
    margin: 10px;
}


 .back {
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    background-color: red;
    height: 30px;
    width: 100px;
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 100px;
    left: 20px;
}
