<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles/0-email-confirm.css">
    <script href="../static/scripts/0-signup.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Confirm email</title>
</head>
<body>
  <div class="container">
    <div class="info">
      <p>You have been sent a <strong>confirmation link</strong> to your email.<br>Please confirm by opening the link to complete your signup.It expires in <strong>five</strong> minutes</p>
    </div>
  </div>
</body>
</html>
