<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles/0-email-confirm.css">
    <script href="url_for('static', filename='scripts/0-signup.js') + '?' + cached_id"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Confirm email</title>
    <script>
        setTimeout(function() {
            window.location.href = "http://0.0.0.0:5001/login";
        }, 10000000);
    </script>
</head>
<body>
  <div class="container">
    <div class="info">
      <p>You have been sent a <strong><a href="https://gmail.google.com" target="_blank">confirmation link</a></strong> to your email.<br>
        Please confirm by opening the link to complete your signup.<br>It expires in <strong>five</strong> minutes 
      You will be redirected to Login shortly</p>
    </div>
  </div>
</body>
</html>
