{% extends "base.html" %}

{% block links %}
    <script src="../static/scripts/introduction.js"></script>
{% endblock %}


{% block content %}
<div class="introduction">
  <h1>Welcome to Cuisine</h1>
  <h1>Discover and share delicious recipes with Cuisine!</h1>
  <
  <h2 id="recipe-world"><a href="{{ url_for('cuisine_recipes') }}">Browse Recipes: Explore a diverse collection of recipes.</a></h2>
  <h2 class="my-recipes"><a href="{{ url_for('user_creations') }}">Visit your creations</a></h2>
  <h2 class="login
</div>
{% endblock %}
