{% extends "base.html" %}

{% block links %}
    <script src="../static/scripts/introduction.js"></script>
{% endblock %}



{% block content %}


<div class="recipe-creation">
  <h3><i class="fa fa-plus-square" aria-hidden="true"></i> CREATE</h3>
  <div class="data">
    <form id="recipeForm" onsubmit="submitForm(event)">
      <label for="title">Title</label>
      <input type="text" id="title" placeholder="Name of the recipe" name="title" required><br><br>

      <label for="introduction">Introduction</label>
      <textarea id="introduction" name="introduction" placeholder="Describe your recipe" rows="5" cols="70" required></textarea><br><br>

      <label for="ingredients">Ingredients</label>
      <textarea id="ingredients" name="Ingredients" placeholder="List what is needed to make the recipe" rows="20" cols="70" required></textarea><br><br>
      
      <label for="instructions">Instructions</label>
      <textarea id="instructions" name="instructions" placeholder="How to" rows="20" cols="70" required></textarea><br><br>

      <div class="tag-selection">
        <h4>Classify your recipe with a tag.(Optional)</h4>
        <select name="tags" multiple>
          {% for tg in tags %}
          <option value="{{ tg.name }}">{{ tg.name }}</option>
          {% endfor %}
        </select>
      </div>
      
      <div class="privacy">
        <input type="checkbox" id="myCheckbox" name="myCheckbox" title="If checked, the recipe created will not be visible to the public.">
        <label for="myCheckbox" class="check-label" title="If checked, the recipe created will not be visible to the public.">Private</label>
      </div>
      
      <button type="submit" class="submission">DONE</button>
    </form>
  </div>
</div>


<div class="introduction-pictures">
  <div class="introduction">
    <h1>Discover and share delicious recipes with Cuisine!</h1>
    <div class="tabs">
      <h2 id="recipe-world"><a href="{{ url_for('cuisine_recipes') }}">Browse Recipes      </a></h2>
      <h2 class="my-recipes"><a href="{{ url_for('user_creations') }}">Visit your creations</a></h2>
      {% if current_user.is_anonymous %}
      <h2 class="login"><a href="{{ url_for('login') }}">Join the community: sign up and log in</a></h2>
      {% endif %}
    </div>
  </div>


  <div class="introduction-picture pic2">
    <h1> Health is Key<br>
      <p>Eating healthy is essential for a balanced lifestyle. At Cuisine, we believe in providing nutritious and delicious recipes that promote well-being. Explore our collection of healthy recipes and start your journey towards a healthier you!</p>
    </h1>
  </div>

  <div class="introduction-picture1 pic1">
      <h1> Share Your Creations<br>
        <p>Have a recipe you want to share with the world? Cuisine is the perfect platform to showcase your culinary skills. Share your recipes with the community and inspire others to get creative in the kitchen!</p>
      </h1>
  </div>
</div>
<!--
{% for file in files %}
  <div>{{ file }}</div>
  <img src="{{ file }}" alt="Image">
{% endfor %}
-->

{% endblock %}
