<!DOCTYPE html>
<html lang="en">
    <head>
		<title>CUISINE</title>
		<meta charset="UTF-8">
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/images.jpeg') }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/styles/0-common.css') + '?' + cache_id }}">
		<link rel="stylesheet" type="text/css" href="../static/styles/0-recipe-creation.css">
    	<script src="https://kit.fontawesome.com/11f4cefc5f.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/styles/0-presentation.css') + '?' + cache_id}}">
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	</head>
	<body>
		<header>
			<p>This is a header</p>
		</header>
	</body>